body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}
.menu {
    background-color: #2980b9;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}
.welcome{
    padding-top: 10vh;
}
.about {
    padding: 10px;
    max-width: 800px; 
}
h2 {
    color: #2980b9;
}
p {
    color: #333;
}
img{
    width: 40vw;
    float: right;
    margin: 0 10px;
}
section, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
}